@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:"Raleway", sans-serif;
    font-size: 1rem;
}
.logo{
    width:4vw;
    height:4vh;
}
.img-carusel{
    width: 100vw;
    height: 100vh;
}
.html{
    scroll-behavior: smooth;
}
.nav,.carousel{
    width: 100vw;
}
#quienes_somos, #destacados, #form_contacto{
    padding-right: 10%;
    padding-left: 10%;
    background-color: #000000;
    width:100vw;
}
.title1, .container_icon{
    text-align: center;
}
.title1{
    font-size: 1.25rem;
}
.container_icon{
    background-color:#228BA0;
    width:25vw;
    padding: 0.25rem;
}
.img-card{
    height: 12rem;
}
.card{
    height:26rem;
    overflow: hidden;
}
.card-title{
    height: 3rem;
}
.card-body{
    background-color:#228BA0;
    color: #ffff;
}
.h-text{
    height: 10rem;
}
.footer{
    background-color:#228BA0;
    width: 100vw;
    height: 8vh; 
    padding-left: 20%;
    padding-right: 20%;
}
.custom-tooltip, .tooltip-inner {
    background-color:#228BA0;
    color: #ffffff;
}
